:root {
  --bg-color: #eeeee6;
  --primary-color: #693d14;
  --secondary-color: #a05f26;
  --hover-color: #d4b499;
  --text-color: #554037;
  --border-color: #d9d0c1;
}

body {
  background-color: var(--bg-color);
}

/* Navbar Principal */
.custom-navbar {
  background-color: var(--bg-color);
  padding: 8px 40px;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.img-logo {
  max-height: 80px;
  object-fit: contain;
}

/* Ícones */
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-link {
  color: var(--primary-color);
  font-size: 1.6rem;
  text-decoration: none;
  position: relative;
  padding: 10px;
  transition: color 0.3s ease;
}

.icon-link:hover {
  color: var(--secondary-color);
}

.sobre_nos {
  padding-top: 16px;
  font-size: 16px;
  font-weight: bold;
}

/* Número carrinho */
.icon-link .num_carrinho {
  position: absolute;
  top: 0px;
  right: -6px;
  color: var(--primary-color);
  font-size: 0.8rem;
}

/* Responsivo */
@media (max-width: 768px) {
  .custom-navbar {
    padding: 4px 12px;
  }

  .img-logo {
    max-height: 60px;
  }

  .icon-link {
    font-size: 1.2rem;
    padding: 6px;
  }

  .sobre_nos {
    font-size: 13px;
    padding-top: 6px;
  }

  .icons {
    gap: 10px;
  }
}