{% extends "navbar/base.html" %}
{% load static %}

{% block title %}Início - MadeMoments{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}?v=5">
<link rel="stylesheet" href="{% static 'css/produtos.css' %}?v=5">
<link rel="stylesheet" href="{% static 'css/carousel.css' %}?v=5">

{% endblock %}

{% block content %}
<main class="conteudo_principal">

  <!-- Carrossel -->
  <div id="carouselExampleIndicators" class="carousel slide mt-3" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
    </div>

    <div class="carousel-inner mt-4" style="background-color: #ffe4e100; height: 500px;">
      <div class="carousel-item active">
        <img src="{% static 'img/carousel/carousel1.jpg' %}" class="d-block mx-auto img-fluid">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/carousel/carousel2.jpg' %}" class="d-block mx-auto img-fluid">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Título -->
  <div class="container mt-5">
    <div class="text-center">
      <h3 class="fw-bold mb-3" style="color: #693d14;">Nossos Produtos</h3>
      <p class="fw-lighter mb-4">Conheça as opções personalizadas que preparamos com carinho para cada ocasião especial.</p>
      <hr class="w-25 mx-auto" style="border-top: 2px solid #693d14;">
    </div>
  </div>

  <!-- Cards -->
  {% for pedido in pedidos %}
    {% if forloop.first or forloop.counter0|divisibleby:4 %}
      <div class="row justify-content-center mb-2">
    {% endif %}

    <div class="col-md-2 d-flex justify-content-center">
      <div class="card">
        <img src="{{ pedido.foto.url }}" class="card-img-top" alt="Imagem do pedido">
        <div class="card-body">
          <h5 class="card-title">{{ pedido.categoria }}</h5>
          <p class="card-text">{{ pedido.descricao }}</p>
          <p class="card-text fw-bold">R$ {{ pedido.valor }}</p>
          <a href="{% url 'detalhe_pedido' pedido.id %}" class="btn btn-outline-info">Comprar</a>
        </div>
      </div>
    </div>

    {% if forloop.counter|divisibleby:4 or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}

</main>
{% endblock %}
