{% include "navbar/base.html" %}


{% block content %}

<style>
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
    /* Remove o ícone padrão */
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-control-prev-icon::after,
  .carousel-control-next-icon::after {
    content: '';
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 6px;
  }

  .carousel-control-prev-icon::after {
    transform: rotate(135deg);
  }

  .carousel-control-next-icon::after {
    transform: rotate(-45deg);
  }
</style>

<body style="background-color: #FFE4E1;">
  <div id="carouselExampleIndicators" class="carousel slide mt-3" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner mt-4" style="background-color: #FFE4E1; height: 500px;">
      <div class="carousel-item active">
        <img src="/static/foto1.jpeg" class="d-block mx-auto img-fluid" style="max-width: 350px;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/cesta-basica.jpeg" class="d-block mx-auto img-fluid" style="max-width: 600px;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/foto2.jpeg" class="d-block mx-auto img-fluid" style="max-width: 350px;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <form class="d-flex " style="width: 500px;">
      <input class="form-control  form-control-sm fw-normal" type="search" placeholder="Procurar" aria-label="Search">
      <button class="btn btn-outline-secondary fw-bolder" type="submit" style="color: black;">Pesquisar</button>
    </form>
  </div>

  <div class="container mt-5">
    <div class="text-center">
      <h3 class="fw-bold mb-3" style="color: #6f42c1;">Nossos Produtos</h3>
      <p class="fw-lighter mb-4">Conheça as opções personalizadas que preparamos com carinho para cada ocasião especial.
      </p>
      <hr class="w-25 mx-auto" style="border-top: 2px solid #6f42c1;">
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-center gap-4">
    <div class="card" style="width: 18rem;">
      <img src="/static/foto3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Caixa presente</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-outline-info">Comprar</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="/static/foto4.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Caixa presente</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-outline-info">Comprar</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="/static/foto5.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Caixa presente</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-outline-info">comprar</a>
      </div>
    </div>

    
  </div>


</body>
{% endblock %}