{% extends "navbar/base.html" %}
{% block content %}

<style>

</style>

<body>


    <div class="container mt-5">
        <h2>Meu Carrinho</h2>
        <hr>
        {% if itens %}
        <ul class="list-group mb-4">
            {% for item in itens %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img src="{{ item.pedido.foto.url }}" style="height: 100px; width: auto; margin-right: 20px;">
                    <div>
                        <strong>{{ item.pedido.descricao }}</strong><br>
                        Quantidade: {{ item.quantidade }}<br>
                        Valor unitário: R$ {{ item.pedido.valor|floatformat:2 }}
                    </div>
                </div>

                <div class="d-flex flex-column align-items-end">
                    <span class="badge bg-primary rounded-pill mb-2">Subtotal: R$ {{item.subtotal|floatformat:2}}</span>

                    <!-- Botão de remover -->
                    <form method="POST" action="{% url 'remover_carrinho' item.pedido.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Remover
                        </button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>



        <!-- Total geral do carrinho -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4>Total geral:</h4>
            <span class="badge bg-success rounded-pill fs-5">R$ {{ total_geral|floatformat:2 }}</span>
        </div>

        <!-- Botão voltar -->
        <div class="text-end">
            <a href="{% url 'loja' %}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Voltar
            </a>
        </div>

        <div class="text-end">
            <a href="{% url 'confirma_pagamento' %}" class="btn btn-success">
                <i class="bi bi-arrow-left"></i> Avançar
            </a>
        </div>


        {% else %}
        <p>Seu carrinho está vazio.</p>
        <div class="text-end">
            <a href="{% url 'loja' %}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Voltar
            </a>
        </div>
        {% endif %}
    </div>
</body>
{% endblock %}